.btn.red {
    box-shadow: 0px 4px 0px #E04342;
}

.btn.red {
    background-color: #fa5a5a;
}

.btn {
  position: absolute;
  right: 0;
  padding: 5px 15px;
  border: 0;
  height: 25px;
  width: 25px;
  background: #fa5a5a url(../images/star.svg) no-repeat 5px 2px / 20px;
  color: #fff;
}

.rounded {
    border-radius: 5px;
}

.btn:active {
	top: 4px;
}

.btn:focus {
  background: #fa5a5a url(../images/star-active.svg) no-repeat 5px 2px / 20px;
}

.btn.red {
  box-shadow:0px 4px 0px #E04342;
}

.btn.red:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #ff4c4b;
}

.submit-btn,
.nav-button {
  padding: 10px;
  border: 2px solid #fff;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}

.submit-btn {
  margin: 15px 0;
}

.nav-button {
  margin: 5px;
}

.submit-btn:hover {
  background-color: #fa5a5a;
  color: #fff;
}

.nav-button:hover {
  background-color: #FFF;
  color: #fa5a5a;
}
